.switcherBox {
    display: flex;
    align-self: start;
    position: fixed;
    z-index: 10000;
    top: 10px;
    left: 20px;
}
.text {
    font-size: 18px;
    color: var(--slateGray);
    cursor: pointer;
}
.selectedText {
    color: var(--navyBlue)
}
.option:hover {
    transition: color .3s ease-in-out;
    color: var(--navyBlue)
}