
.h1 {
    font-weight: 800;
    font-size: clamp(1.875rem, 0.6551rem + 5.4217vw, 4.125rem);
    color: var(--navyBlue);
    line-height: clamp(2.8125rem, 0.9827rem + 8.1325vw, 6.1875rem);
}
.h2 {
    font-weight: 800;
    font-size: 30px;
    color: var(--navyBlue);
    line-height: clamp(2.8125rem, 2.3042rem + 2.259vw, 3.75rem);
}
.h3 {
    font-weight: 800;
    font-size: 22px;
    color: var(--navyBlue);
    line-height: 33px;
}