.lightCyan {
    background-color: #F0FBFD;
  }
  .navyBlue {
    color: #06325F;
  }
  
  .slateGray {
    color: #607182;
  }
  
  .skyBlue {
    color: #22A2FF;
  }
  
  .paleBlue {
    background-color: #DDF2FF;
  }
  
  .white {
    color: #FFFFFF;
  }