.title {
    align-self: flex-start;
}
.noFirstTitle {
    margin-top: 50px;
}
.mainImage {
    width: 400px;
    height: 600px;
    object-fit: contain;
}
.contentBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 75px;
    gap: 45px;
}
.sectionBox {
    display: flex;
    flex-direction: column;
}
.detailBox {
    display: flex;
    flex-direction: column;
}
.listBox {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
    width: 100%;
    gap: 20px;
}
.itemText::before {
    content: "•";
    padding-right: 5px;
    color: var(--slateGray);
}

@media(width <=1096px) {
    .contentBox {
        flex-direction: column;
        align-items: center;
        margin-top: 75px;
        gap: 0px;
    }
    .detailBox {
        width: 80%;
        justify-content: center;
        margin-top: 63px;
    }
}

@media(width <=758px) {
    .mainImage {
        width: 320px;
        height: 470px;
        object-fit: contain;
    }
    .detailBox {
        width: 100%;
        justify-content: center;
        margin-top: 63px;
    }
}

/* Contenedor Sticky para título + imagen en desktop */
.stickyBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}



@media (min-width: 1096px) {
    .mainImage {
        position: sticky;
        top: 110px; /* por encima del header fijo */
        z-index: 5;
    }
    .stickyTitle {
        position: sticky;
        top: 50px;
        z-index: 10;
    }
}