.headerBox {
    width: 450px;
    padding: 0px 20px 0px 20px;
    background-color: var(--lightCyan);
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    gap: 27px;
    border-radius: 16px;
    height: 60px;
    -webkit-box-shadow: 1px 1px 21px 0px rgba(6, 50, 95, 0.5);
    -moz-box-shadow: 1px 1px 21px 0px rgba(6, 50, 95, 0.5);
    box-shadow: 1px 1px 21px 0px rgba(6, 50, 95, 0.5);
    align-items: center;
    z-index: 10;
}
.option {
    text-decoration: none;
}
.option:hover {
    color: var(--navyBlue);
    transition: color .1s ease-in-out;
}
.activeSection {
    color: var(--navyBlue);
    font-weight: 800;
}
@keyframes pulse {
	0% {
	  transform: scale(1);
	}
	50% {
	  transform: scale(1.05);
	}
	100% {
	  transform: scale(1);
	}
}
.headerPhoto {
    position: relative;
    transition: transform .3s linear;
}
.headerPhoto img {
    width: 103px;
    height: 103px;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.headerPhoto:hover {
    transform: scale(1.05);
    transition: transform .1s linear;
	animation: pulse 2s infinite;
}
.headerPhoto:active {
    transform: scale(.95);
    transition: transform .1s linear;
}

@media(width <= 758px) {
    .headerBox {
        /* width: 320px; */
        min-width: 300px;
        max-width: 315px;
        gap: 22px;
        height: 48px;
        justify-content: center;
        top: 110px;
    }
    .headerPhoto {
        position: fixed;
        top: -45px;
        left: 50%;
        transform: translateX(-50%);
        width: 80px;
        height: 80px;
        animation: none; /* Desactiva animación en mobile */
    }
    .option {
        font-size: 14px !important;
    }
    .headerPhoto:hover {
        transform: translateX(-50%) scale(1.05);
        transition: transform .1s linear;
        animation: none; /* Sin pulso en hover */
    }
    .headerPhoto:active {
        transform: translateX(-50%) scale(.95);
        transition: transform .1s linear;
        animation: none; /* Sin pulso en active */
    }
}