.headerBox {
    width: 450px;
    padding: 0px 20px 0px 20px;
    background-color: var(--lightCyan);
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 50px;
    gap: 27px;
    border-radius: 16px;
    height: 60px;
    -webkit-box-shadow: 1px 1px 21px 0px rgba(6, 50, 95, 0.5);
    -moz-box-shadow: 1px 1px 21px 0px rgba(6, 50, 95, 0.5);
    box-shadow: 1px 1px 21px 0px rgba(6, 50, 95, 0.5);
    align-items: center;
    z-index: 10;
}
.option {
    text-decoration: none;
}
.option:hover {
    color: var(--navyBlue);
    transition: color .1s ease-in-out;
}


.activeSection {
    color: var(--navyBlue);
    font-weight: 800;
}

.headerPhoto {
    width: 103px;
    height: 103px;
    object-fit: contain;
    aspect-ratio: 1/1;
    position: relative;
    left: 0px;
    transition: transform .3s linear;
}
.headerPhoto:hover {
    transform: scale(1.05);
    transition: transform .1s linear;
}
.headerPhoto:active {
    transform: scale(.95);
    transition: transform .1s linear;
}

@media(width <= 758px) {
    .headerBox {
        width: 320px;
        gap: 22px;
        height: 48px;
        justify-content: center;
        top: 110px;
    }
    .headerPhoto {
        position: fixed;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 80px;
        height: 80px;
    }
    .option {
        font-size: 14px !important;
    }
    .headerPhoto:hover {
        transform: translateX(-50%) scale(1.05);
        transition: transform .1s linear;
    }
    .headerPhoto:active {
        transform: translateX(-50%) scale(.95);
        transition: transform .1s linear;
    }
}