@import "../../../app/globals.css";

.frame {
    background-color: var(--lightCyan);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: "23px 32px 69px 32px";
    height: 100svh;
}

@media(width <= 1096px) {
    .frame {
        padding: "23px 37px 69px 37px"
    }
}
@media(width <= 758px) {
    .frame {
        padding: "18px 20px 31px 20px"
    }
}